---
layout: page
---

<!-- {% assign posts = site.tags[page.slug] | where: "categories", page.category %} -->

{% for post in paginator.posts %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">
    {{ post.date | date: '%F %R' }}
    in
    {{ post.categories}}
    on
    {{ post.tags}}
  </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
{% include pagination.html %}